main{
    width:95%;
    margin:auto;

    display:grid;
    grid-template-columns:3fr 1fr;
    gap:30px;

    align-items:start;
}

header{
    background:#2563eb;
    color:white;
    padding:20px;
    margin-bottom:30px;
}

header h1{
    color:white;
    margin:0;
}

.category{
    background:#ececec;
    padding:5px 12px;
    border-radius:20px;
    font-size:.8rem;
    text-transform:capitalize;
}

.cart{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);

    position:sticky;
    top:20px;
}

.cart h2{
    margin-bottom:20px;
}

.cart-item{
    display:flex;
    gap:10px;
    margin-bottom:20px;
    align-items:center;
}

.cart-item img{
    width:60px;
    height:60px;
    object-fit:contain;
}

.cart-item h4{
    font-size:.9rem;
    margin-bottom:5px;
}

.quantity{
    display:flex;
    align-items:center;
    gap:10px;
    margin-top:8px;
}

.quantity button{
    width:30px;
    height:30px;
}

.remove{
    margin-left:auto;
    background:red !important;
}

.checkout{
    width:100%;
    margin-top:20px;
    background:#16a34a !important;
}